.main-container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.main-container-hub-detail {
  width: 100%;

  margin: auto;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.space-align-start {
  align-items: flex-start;
}

.main-content h5 {
  margin-top: 0;
}

.boxShadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.updateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.updateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.updateItem .ant-form-item {
  margin: 0;
}

.updateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.bottomForm {
  margin-top: 20px;
}

.pe-50 {
  padding-right: 50px;
}

.f-e {
  float: right;
}
/*-----card left---------------*/
.cardShowTop {
  display: flex;
  align-items: center;
}

.cardShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cardShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.cardShowName {
  font-weight: 600;
}

.cardShowTitle {
  font-weight: 300;
}

.cardShowBottom {
  margin-top: 20px;
}

.cardShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.cardShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.cardShowInfoTitle {
  margin-left: 10px;
}

.cardShowIcon {
  font-size: 16px !important;
}

/*-------------card right----------------*/
.buttonView {
  /* width: 80px; */
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.buttonSwitch {
  border: none;
  padding: 5px;
  background-color: #ab9c21;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
  margin-right: 10px;
}

.cardBody {
  border: 1px solid #e5e4e4;
  border-radius: 5px;
  padding: 5px;
}

.buttonAdd {
  font-size: 14px;
  border: 1px solid transparent;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #217aab;
  color: white;
}

.buttonSave {
  font-size: 14px;
  border: 1px solid transparent;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  background-color: #b1a053;
  color: white;
}

/**********************/
.tableHistory {
  width: 100%;
}
.tableHistory thead {
  background-color: #333;
  color: white;
}

.tableHistory tbody tr:nth-child(odd) {
  background-color: #fff;
}

.tableHistory tbody tr:nth-child(even) {
  background-color: #eee;
}

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% 50% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

.datePicker {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px 5px;
  color: #636161;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
  width: 120px;
}

/*-------upload image------*/
.preview {
  max-width: 100px;
}

.box-img-wrap {
  position: relative;
  display: inline-block;
  border: 1px red solid;
  font-size: 0;
  margin: 0 5px;
}

.box-img-wrap .img-delete {
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: #c01d1d;
  border-color: red;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
}

.box-img-wrap:hover .img-delete {
  opacity: 1;
}

.box-img-wrap .img-view {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  color: #c0bd1d;
  border-color: #c0bd1d;
  border: 1px solid;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.7;
}

.box-img-wrap:hover .img-view {
  opacity: 1;
}

.btn-primary {
  border: 1px solid #0c57fa;
  padding: 2px;
  border-radius: 4px;
  color: white;
  background-color: #0c57fa;
}
