@media (max-width: 500px) {
  .headerMenu {
    display: none;
  }
}

@media (min-width: 501px) {
  .menuIcon {
    display: none;
  }
}

.notiRight {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;

  position: absolute;
  top: 0px;
  right: 0;
}
