.headerMenu {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.container {
  /* margin-top: 40px; */
  margin-left: 20px;
  margin-right: 20px;
}

.bg-card-body {
  background-color: #becfde96;
}

.m-0 {
  margin: 0;
}

.align-item-center {
  align-items: center;
}

.lblTitleSearch {
  width: 25%;
}

#tableDevice table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  z-index: 0;
}
#tableDevice th,
td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
#tableDevice tr.green th {
  background: green;
  color: white;
}
#tableDevice tr.purple th {
  background: purple;
  color: white;
}
#tableDevice thead th {
  background: white;
  position: sticky;
  top: 40px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#tableDevice tbody th {
  text-align: center;
  /* background: white; */
  position: sticky;
  top: 128px;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

#tableDevice {
  border: 1px solid #333;
  font-size: 12px;
  border-collapse: collapse;
  width: 100%;
  margin-top: 45px;
  margin-bottom: 10px;
}

#tableDevice td {
  border: 1px solid #333;
  font-size: 12px;
  border-collapse: collapse;
}

#tableDevice th {
  border: 1px solid #333;
  font-size: 12px;
  border-collapse: collapse;
}

#tableDevice thead th {
  background-color: rgb(3, 150, 22);
}

.borderModalFooter {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  margin-top: 10px;
  margin-right: 10px;
}

.clickRowStyle {
  background-color: #f3b9b9;
}

.tick {
  color: red;
}
.b-UPS {
  background-color: #b4c6e7;
}

.b-B-UPS {
  background-color: #dbdbdb;
}

.b-MPD {
  background-color: #bdd7ee;
}

.b-TD {
  background-color: #ffe699;
}

.b-ML {
  background-color: #c6e0b4;
}

.deviceTitle {
  background-color: #f37777;
}

.buttonIconDelete {
  margin-left: 5px;
  margin-right: 5px;
  color: red;
  font-size: 15px;
  cursor: pointer;
}

.buttonIconRefresh {
  color: #f3f3f3;
  padding: 8px;
  margin-left: 5px;
  background-color: #e47015;
  border-radius: 5px;
}

.buttonIconEdit {
  margin-left: 5px;
  margin-right: 5px;
  color: #ffcc04;
  font-size: 15px;
  cursor: pointer;
}

.borderItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

.borderItem label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.borderItem input {
  /* padding: 10px; */
  border: 1px solid gray;
  border-radius: 5px;
}
.borderItem textarea {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.buttonLink {
  padding: 0;
}

.borderItem .ant-form-item {
  margin: 0;
}
.modalForm .ant-space-item {
  width: 450px;
}

.ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spanButton {
  cursor: pointer;
  background: #fefecf;
  color: #504f4f;
}

.spanButton:hover {
  background: #f25858;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
}

.noData {
  text-align: center;
  font-size: 24px;
}

.b-1 {
  background-color: #c41212;
}
