.headerMenu {
  width: 100%;
  position: fixed;
  z-index: 100;
}

.container {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
/* 
table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
  z-index: 0;
}
th,
td {
  padding: 0.25rem;
}
tr.red th {
  background: red;
  color: white;
}
tr.green th {
  background: green;
  color: white;
}
tr.purple th {
  background: purple;
  color: white;
}
thead th {
  background: white;
  position: sticky;
  top: 40px; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

tbody th {
  text-align: center;
  background: white;
  position: sticky;
  top: 128px; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
} */
/* 
.tableDevice,
td,
th {
  border: 1px solid #333;
  font-size: 12px;
}

.tableDevice thead th {
  background-color: rgb(3, 150, 22);
} */

.UPS {
  background-color: #b4c6e7;
}

.B-UPS {
  background-color: #dbdbdb;
}

.MPD {
  background-color: #bdd7ee;
}

.TD {
  background-color: #ffe699;
}

.ML {
  background-color: #c6e0b4;
}

.deviceTitle {
  background-color: #f22a2a;
}

.buttonIconDelete {
  margin-left: 5px;
  margin-right: 5px;
  color: red;
  font-size: 15px;
  cursor: pointer;
}

.buttonIconEdit {
  margin-left: 5px;
  margin-right: 5px;
  color: #ffcc04;
  font-size: 15px;
  cursor: pointer;
}

.borderItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-right: 10px;
}

.borderItem label {
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.borderItem input {
  /* padding: 10px; */
  border: 1px solid gray;
  border-radius: 5px;
}
.borderItem textarea {
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
}

.buttonLink {
  padding: 0;
}

.borderItem .ant-form-item {
  margin: 0;
}
.modalForm .ant-space-item {
  width: 450px;
}

.ant-modal-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.spanButton {
  cursor: pointer;
}

.spanButton:hover {
  background: #f25858;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
}
