.inputEditCell {
  font-weight: 400;
  line-height: 20px;
  width: 120px;
  border-radius: 5px;
  border: 1px solid #939393;
  color: #8d8b8b;
}

.buttonViewCell {
  margin-right: 10px;
  color: #dc9009;
}

.buttonDeleteCell {
  margin-right: 10px;
  color: #e00f0f;
}

.buttonSwitchToBranch {
  /* margin-right: 10px; */
  color: #3586ff;
}

.buttonModalCancel {
  font-size: 14px;
  border: 1px solid #b1adad;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-right: 10px;
}

.modalSwitchBranchContent {
  margin-top: 15px;
}

.formListHub p {
  font-size: 12px;
}

.addHubItem {
  margin-top: 10px;
  margin-right: 30px;
}

.addBranchItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.addBranchItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}
